*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
body{
    background-color: #F8FAFF;
}

nav{
    position: relative;
    padding: 30px 190px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E6E4FF;
    z-index: 5;
}
nav ul{
    margin: 10px 30px 10px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    color: #675791;
    margin: 10px 30px 10px 0;
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
}
nav ul li a:hover{
    color: #786EFA;

}
.logo{
    color: #675791;
    margin: 10px 0px 10px 30px;
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
}

.logo:hover{
    color: #786EFA;
}
.heroSection{
    height: 90vh;
}
.heroBackground{
    height: 100%;
    background-color: #E6E4FF;
    transform-origin: top left;
    transform: skewY(-10deg);
    object-fit: none; 
}

.skillsSection{
    padding-top: 6vh;
    height: 65vh;
    background-color: #F8FAFF;
}

#larry{
    position: absolute;
    height: 70vh;
    left: 14%;
    top: 12%; 
    z-index: 2;
}
.heroSection h1{
    position: absolute;
    left: 40%;
    top: 38%;
    margin-left: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #675791;
    z-index: 2;

}
.heroSection h1 a{
    color: #786EFA;
}
.animatedText{
    margin-top: 59px;
    margin-left: 100px;

}

.heroSection h3{
    position: absolute;
    width: 703px;
    height: 145px;
    left: 40%;
    top: 47%;
    margin-left: 100px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #675791;
    z-index: 2;
}
.skillsSection h3 {
   text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: x-large;
    color: #675791;
}
.skillsSection h2{
    text-align: center;
    margin-top: 6vh;
    font-weight: 400;
    font-size: 21px;
    color: #675791;
    padding: 0 20vw;
}
.skillsIcons{
    margin-top: 16vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 20vw;
}
.projectCards{
    text-align: center;
    width: 320px;
    height: 390px;
    padding: 20px;
    background: #FFFFFF;
    border: 0.5px solid #EFEFEF;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.07);
    border-radius: 11px;
    transition: all 0.3s ease 0s;
}
.projectCards:hover{
    text-align: center;
    box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);

}
.projectsSection h3 {
    text-align: center;
     margin-top: 15px;
     font-weight: 700;
     font-size: x-large;
     color: #675791;
 }
 .projectsSection{
    padding-top: 3vh;
    height: 95vh;
    background-color: #fff;
}
.cardsBox{
    margin-top: 6vh;
}
.cardsBox img{
    width: 280px;
    margin-top: 15px;
}
.cards1{
    display: flex;
    justify-content: space-around;
    padding: 0 17vw;
}
.cards2{
    margin-top: 6vh;
    display: flex;
    justify-content: space-around;
    padding: 0 17vw;
}
.cardTitle{
    margin-top: 15px;
    color: #675791;
}
.cardText{
    color: #675791;
}
button {
    margin-top: 30px;
    background: #FFE17D;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    color: #675791;
    transform: skew(-21deg);
  }
  
  .projectsSection span {
    display: inline-block;
    transform: skew(21deg);
  }
  a {
    text-decoration: none;
    all: unset;
  }
  
  button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #675791;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

  .contactSection{
      height: 35vh;
      padding-top: 5vh;
  }
  .contactSection h3 {
    text-align: center;
     margin-top: 10px;
     margin-bottom: 5vh;
     font-weight: 700;
     font-size: x-large;
     color: #675791;
 }
 .contactSection h2{
    text-align: center;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 28px;
    color: #675791;
    padding: 0 20vw;
    cursor: pointer;
}